# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
# Loading the dataset
chicago_salaries_df = pd.read_csv('/Users/gopikagowthaman/Desktop/IRONHACK/week12/lab-hypothesis-testing-1/your-code/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
chicago_salaries_df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Checking for missing data in each column
missing_data = chicago_salaries_df.isnull().sum()

# Display the missing data count for each column
missing_data

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
# Counting the number of hourly vs. salaried employees
employee_type_count = chicago_salaries_df['Salary or Hourly'].value_counts()

employee_type_count

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [10]:
# Counting the number of employees in each department
department_employee_count = chicago_salaries_df['Department'].value_counts()

department_employee_count

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [11]:
from scipy.stats import ttest_1samp

# Filter the dataset to include only hourly employees
hourly_employees = chicago_salaries_df[chicago_salaries_df['Salary or Hourly'] == 'Hourly']

# Extract the hourly rates
hourly_wages = hourly_employees['Hourly Rate'].dropna()

# Perform the one-sample t-test
t_stat, p_value = ttest_1samp(hourly_wages, 30)

# Display the results
t_stat, p_value

(20.6198057854942, 4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [12]:
# Filter the dataset to include only salaried employees in the Police department
police_salaries = chicago_salaries_df[(chicago_salaries_df['Department'] == 'POLICE') & (chicago_salaries_df['Salary or Hourly'] == 'Salary')]

# Extract the annual salaries
annual_salaries = police_salaries['Annual Salary'].dropna()

# Perform the one-sample t-test
t_stat, p_value_two_tailed = ttest_1samp(annual_salaries, 86000)

# Since this is a one-tailed test (we are testing if salaries are greater than $86000)
# and the test statistic must be positive to consider the p-value, we adjust the p-value:
if t_stat > 0:
    p_value_one_tailed = p_value_two_tailed / 2
else:
    p_value_one_tailed = 1 - p_value_two_tailed / 2

# Display the results
t_stat, p_value_one_tailed

(3.081997005712994, 0.0010301701775482569)

Using the `crosstab` function, find the department that has the most hourly workers.

In [13]:
# Creating crosstab of departments and the type of employment (Hourly/Salary)
crosstab_result = pd.crosstab(chicago_salaries_df['Department'], chicago_salaries_df['Salary or Hourly'])

# Find the department with the most hourly workers
most_hourly_workers_department = crosstab_result['Hourly'].idxmax()

# Display the department and the number of hourly workers
most_hourly_workers_department, crosstab_result['Hourly'].max()

('STREETS & SAN', 1862)

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [14]:
# Filter the dataset to include only hourly employees in the "STREETS & SAN" department
hourly_workers_streets_san = chicago_salaries_df[(chicago_salaries_df['Department'] == 'STREETS & SAN') & (chicago_salaries_df['Salary or Hourly'] == 'Hourly')]

# Extract the hourly rates
hourly_wages_streets_san = hourly_workers_streets_san['Hourly Rate'].dropna()

# Perform the one-sample t-test
t_stat, p_value_two_tailed = ttest_1samp(hourly_wages_streets_san, 35)

# Since this is a one-tailed test (we are testing if wages are less than $35/hour)
# and the test statistic must be negative to consider the p-value, we adjust the p-value:
if t_stat < 0:
    p_value_one_tailed = p_value_two_tailed / 2
else:
    p_value_one_tailed = 1 - p_value_two_tailed / 2

# Display the results
t_stat, p_value_one_tailed

(-9.567447887848152, 1.6689265282353859e-21)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [15]:
from scipy import stats

# Filter the dataset to include only hourly employees
hourly_employees = chicago_salaries_df[chicago_salaries_df['Salary or Hourly'] == 'Hourly']

# Extract the hourly rates
hourly_wages = hourly_employees['Hourly Rate'].dropna()

# Calculate the sample mean
mean_hourly_wage = np.mean(hourly_wages)

# Calculate the standard error of the mean
std_error = stats.sem(hourly_wages)

# Calculate the 95% confidence interval
confidence_interval = stats.t.interval(0.95, len(hourly_wages) - 1, loc=mean_hourly_wage, scale=std_error)

# Display the confidence interval
confidence_interval

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [16]:
# Filter the dataset to include only salaried employees in the Police department
salaried_police_employees = chicago_salaries_df[(chicago_salaries_df['Department'] == 'POLICE') & (chicago_salaries_df['Salary or Hourly'] == 'Salary')]

# Extract the annual salaries
annual_salaries = salaried_police_employees['Annual Salary'].dropna()

# Calculate the sample mean
mean_annual_salary = np.mean(annual_salaries)

# Calculate the standard error of the mean
std_error = stats.sem(annual_salaries)

# Calculate the 95% confidence interval
confidence_interval = stats.t.interval(0.95, len(annual_salaries) - 1, loc=mean_annual_salary, scale=std_error)

# Display the confidence interval
confidence_interval

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: